{% extends 'RecQuiz/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Add New Course
{% endblock %}

{% block body_block %}
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>About Us</h2>
        <p>RecQuiz has free online courses from world-class universities and companies. You can easily learn these courses and use a series of quiz to help you acquire knowledge more efficiently!</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Courses from world-class universities and companies.</h3>
            <p class="fst-italic">
              RecQuiz is an educational platform that works with the world's top universities and institutions to provide online courses that anyone can learn.
                expects that in the future, everyone can obtain the highest level of education in the world. It is hoped that education will improve the lives of people and their families, as well as their communities.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Open courses in Colleges and Universities.</li>
              <li><i class="bi bi-check-circle"></i> Enterprise professional skill training.</li>
              <li><i class="bi bi-check-circle"></i> Certificate examination and training.</li>
            </ul>
            <p>
              RecQuiz has free online courses from world-class universities and companies. You can easily learn these courses and use a series of quiz to help you acquire knowledge more efficiently!
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
            <p>Courses</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
            <p>Events</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Trainers</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

  </main><!-- End #main -->
{% endblock %}