{% extends 'RecQuiz/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Course
{% endblock %}

{% block body_block %}

  <h1>Course Display</h1>

  <!--Initialize hidden quiz box-->
  <div id="quiz-box" style="visibility: hidden;">
    <div id='quiz'></div>
    <div class='button' id='next'><a href='#'>Next</a></div>
    <div class='button' id='prev'><a href='#'>Prev</a></div>
    <div class='button' id='start'> <a href='#'>Start Over</a></div>
  </div>

  <!--Video Plugin-->
  <video id="my_video" class="video-js vjs-default-skin" controls preload="auto" width="640" height="268" 
  data-setup='{ "asdf": true }'>
    <source src="https://itech.blob.core.windows.net/asset-3bb06c3b-2f32-46bc-9e40-a3526c84e51d/CSF-Lecture1.mp4?sp=r&st=2022-03-03T13:35:59Z&se=2022-05-30T20:35:59Z&sv=2020-08-04&sr=b&sig=CVXNwA10L0D%2FvzV8uo%2Fjy0eyxZ9Vq8KbQymhOGFnHZk%3D" type='video/mp4'>
    <!-- <source src="http://vjs.zencdn.net/v/oceans.webm" type='video/webm'> -->
  </video>

  <!--Lecture Plugin-->
  <div>
    <label class="selectgroup-item">
      <input type="checkbox" name="value" value="HTML" class="selectgroup-input" checked />
      <span class="selectgroup-button">Lecture 1</span>
    </label>
    <label class="selectgroup-item">
      <input type="checkbox" name="value" value="HTML" class="selectgroup-input" />
      <span class="selectgroup-button">Lecture 2</span>
    </label>
  </div>
  
  <script src="{% static 'js/marker-quiz.js' %}"></script>
  {% endblock %}
