{% extends 'RecQuiz/base.html' %}
{% load staticfiles %}

{% block title_block %} 
    {% if user.is_authenticated %}
      MyCourses
    {% else %}
      Courses
    {% endif %}
{% endblock %}

{% block body_block %}
<main id="main" data-aos="fade-in">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Courses</h2>
        <p>Welcome to the course library! Here you can choose your favorite courses to study. Let's start! </p>
        </div>
        
    </div><!-- End Breadcrumbs -->

    {% if user.is_authenticated %}
    <div class="contact">
      <div class = "text-center">
        <a href="{% url 'RecQuiz:add_course_page' %}" class="get-started-btn">Add new Course</a>
      </div> 
    </div>    
    {% else %}
    {% endif %}
    <!-- ======= Courses Section ======= -->
    {%if courses%}
    <div id="courses" class="courses">
      <div class="container" data-aos="fade-up">
      
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
            {% for course in courses %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch course-box">
            <div class="course-item">
              <img src="{% static 'assets/img/course-1.jpg' %}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Web Development</h4>
                </div>

                <h3><a>{{course.course_name}}</a></h3>
                <p>{{course.coordinator}}</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <span><a href="{% url 'RecQuiz:course' course.slug %}">START LEARNING</a></span>
                    {% if user.is_authenticated %}
                      <div class="trainer-profile d-flex align-items-center">
                        <span><a href="{% url 'RecQuiz:remove_course' course.slug %}" class="get-started-btn" >DELETE COURSE</a></span>                   
                      </div>
                    {% else %}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->
            {% endfor %}
    {% else %}
      <h1>You have not registered any course.</h1>
    {% endif %}
        </div>
      </div>
    </div>

  </main><!-- End #main -->
{% endblock %}