{% extends 'RecQuiz/old_base.html' %}

{% load staticfiles %}

{% block title_block %}
    MyCourse
{% endblock %}

{% block body_block %}
<!--Add my Course-->
<h1>MyCourse</h1>
<a class="nav-link" href="/recquiz/new_course">Add new Course</a>
    {% if courses %}
    {% for course in courses %}
    <div class="card border-white border rounded shadow-lg" style="width: 230px;height: 165px;margin: 10px;margin-left: 15px;">
        <div class="card-body" style="width: 205px;height: 300px;padding: 0px;margin: 10px;">
            <h4 class="card-title" style="margin-top: 5px;">{{course.course_name}}</h4>
            <p class="card-text" style="width: 180px;margin-top: 15px;margin-bottom: 20px;">{{course.coordinator}}</p>
            <div role="group" class="btn-group"><a href="{% url 'RecQuiz:course' course.slug %}" class="btn btn-primary" style="/*background: rgb(72,72,72);*/">Start</a><button name="delete_course" class="btn btn-primary" type="button" style="margin-left: 25px;background-color: var(--bs-gray);">Delete</button></div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h1>You have not registered any course.</h1>
    {% endif %}
{% endblock %}