{% extends 'RecQuiz/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if course %}
      {{course.course_name}}
    {% else %}
      Course
    {% endif %}
{% endblock %}

{% block sidebar_block %}
  <div style="display: none;" id="jsonData" data-json="{{ json_quizs }}"></div>
{% endblock %}
{% block body_block %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>{{course.course_name}}</h2>
        <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p> 
      </div>
    </div><!-- End Breadcrumbs -->
  <section id="course" class="course">
    <div class="container" data-aos="fade-up">
      <!--Initialize hidden quiz box-->

      <!--Video Plugin-->
      <div style="display: flex;">
        <video id="my_video" class="video-js vjs-default-skin" controls preload="auto" width="800" height="500" 
      data-setup='{ "asdf": true }'>
      
        <source src=" {{current_lecture.url}} " type='video/mp4'>
        <!-- <source src="http://vjs.zencdn.net/v/oceans.webm" type='video/webm'> -->
        <!-- https://drive.google.com/uc?export=view&id=1_RgKGmEL5Ro0-I98rT3itPZA_XxhyQLX/  -->
      </video>
        <!--Quiz Plugin-->

        <div class="col-lg-4" style="margin-left: 10px;">
          {% if quizs %}
          <div class="list-group">
            {% for quiz in quizs %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">{{quiz.quiz_id}}</button>
            {% endfor %}
          </div>
          {% else %}
          <p>This lecture has no quiz.</p>
          {% endif %}
        </div>
<!-- Button trigger modal -->


      <!--Lecture Plugin-->
      <div style="margin-top: 10px;">
        <h1>Lecture List</h1>
        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul class="nav nav-pills">
            {% if lectures %}
              {% for lecture in lectures %}
                {% if lecture == current_lecture %}
                  <li class="nav-item"><a class="active nav-link" href="{% url 'RecQuiz:lecture' course_name_slug=course.slug lec_id=lecture.lec_id %}">Lecture {{lecture.lec_id}}</a></li>
                {% else %}
                  <li class="nav-item"><a class="nav-link" href="{% url 'RecQuiz:lecture' course_name_slug=course.slug lec_id=lecture.lec_id  %}">Lecture {{lecture.lec_id}}</a></li>
                {% endif %}
              {% endfor %}
            {% else %}
            {% endif %}
          </ul>
        </nav>
        
      </div>
    </div>
  </section>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard=false>
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</main>
  {% endblock %}
