<!DOCTYPE html>
<html>
    <head>
        <title>This is for testing.</title>
    </head>
    <body>
        <a href="{% url 'RecQuiz:logout' %}">logout</a>
        <video width="320" height="240" controls>
            <source src="https://itech.blob.core.windows.net/asset-3bb06c3b-2f32-46bc-9e40-a3526c84e51d/CSF-Lecture1.mp4?sp=r&st=2022-02-23T21:08:14Z&se=2022-02-24T05:08:14Z&spr=https&sv=2020-08-04&sr=b&sig=0yRYrv%2BAbZpkSVMXMVRHEawuXXEMwSnW%2BfxjpVbKLYg%3D"  type="video/mp4">
        </video>
    </body>
</html>